.idea/
*.iml
*.ipr
*.iws

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
ENV/
.venv/

database/media/
database/messages/
tg_fetcher/downloaded_media/
tg_fetcher/downloaded_text/
tg_fetcher/last_dump/

.DS_Store
Thumbs.db
