.idea/
*.iml
*.ipr
*.iws

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
ENV/
.venv/

data/relevant/media/
data/relevant/text/
data/tg_dump/text/
data/tg_dump/media/
data/tg_dump/last_dump/

.DS_Store
Thumbs.db
