PyYAML~=6.0.2
Telethon~=1.40.0
openai~=0.28.0
edgedb~=2.2.0
numpy~=2.3.1
pytz~=2025.2
langchain~=0.3.26
flask~=3.1.1
APScheduler~=3.11.0
langchain_community
sentence_transformers
uvicorn~=0.34.3
fastapi~=0.115.13
starlette~=0.46.2
faiss-cpu~=1.11.0
httpx~=0.28.1
torch~=2.7.1
tqdm~=4.67.1
deep_translator