# HOME/.config/systemd/user
[Unit]
Description=cv-0-5 user service nw-012
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/deploy10002/cv-analyzer-0/CV-Analyzer-5/
ExecStart=/bin/bash -c '/srv/deploy10002/cv-analyzer-0/CV-Analyzer-5/bin/app_start_systemd'
Restart=on-failure
KillSignal=SIGQUIT
TimeoutStopSec=90
PrivateTmp=true

[Install]
WantedBy=default.target
